// Bring in all the styles for Carbon
@use '@carbon/react';
// Or bring in the styles for just one component
@use '@carbon/react/scss/components/button';

#root,
.utrecht-document {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif !important;
  font-weight: 600 !important;
}

p {
  font-size: 1rem !important;
  margin-top: .5rem !important;
}

*:focus,
.denhaag-button:focus {
  outline: 0 !important;
}

.denhaag-page {
  min-height: calc(100vh - 272px) !important;
}

.denhaag-page-content__main {
  margin-top: 5rem;
}

div[class*="_user-name"] {
  max-width: 150px;
}

@media (width >= 1024px) {
  div[class*="_user-name"] {
    max-width: 100%;
  }
}

@media (width >= 768px) {
  .denhaag-page-content__main {
    margin-top: .5rem;
  }
  .denhaag-responsive-content.denhaag-page-content {
    margin-top: 8rem;
  }
}

a[href*="zaken"].denhaag-menu-button {
  margin-bottom: 1.25rem !important;
}

a[href*="taken"].denhaag-menu-button {
  margin-top: 1.25rem !important;
}

a[href*="account"].denhaag-menu-button {
  margin-top: 1.25rem;
}

/* LIST PAGE */
.list-page {
  header {
    margin-bottom: 3rem;

    h1 {
      margin-top: 0;
      font-size: 32px;
      line-height: 41.6px;
    }

    p {
      font-size: 1rem;
      margin-top: .5rem;
      margin-bottom: 0;
    }
  }

  a,
  .list-table tr td a {
    line-height: .5rem;
    text-decoration: none;
    color: var(--rijkshuisstijl-donkerblauw);
  }

  .list-table {
    margin-top: 3rem;
    width: 100%;

    tr th {
      font-weight: bold;
    }

    tr th,
    tr td {
      border-bottom: 1px solid var(--rijkshuisstijl-donkergrijs);
      text-align: left;
      padding: .5rem .5rem .5rem 2rem;
      white-space: nowrap;
    }
  }
}

.cta-default-toggle-button {
  border: 1px solid var(--rijkshuisstijl-donkerblauw) !important;
  color: var(--rijkshuisstijl-donkerblauw) !important;
  padding: .5rem 1rem !important;
  line-height: 1rem !important;
  border-radius: 5px !important;
}

.cta-default-toggle-button.active {
  background-color: var(--rijkshuisstijl-donkerblauw) !important;
  color: white !important;
  padding: .55rem 1rem !important;
  line-height: 1rem !important;
  border-radius: 5px !important;
  svg {
    margin-bottom: -2px;
  }
}

.cta-default-button {
  background-color: var(--rijkshuisstijl-donkerblauw);
  color: var(--rijkshuisstijl-wit) !important;
  padding: .55rem 1rem !important;
  line-height: 1rem !important;
  border-radius: 5px !important;
  svg {
    margin-bottom: -2px;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.search-cta-filter-holder {
  width: calc(100% - 120px);
  margin-top: -.4rem;

  input {
    border: 1px solid var(--rijkshuisstijl-donkergrijs);
    border-radius: 5px !important;
  }
}

.cta-default-button.float-right {
  float: right;
  margin-top: -.5rem;
}

.cta-group {
  margin-top: 5rem;
}

.cta-secondary {
  margin-top: 2rem;
  line-height: 2rem;
}

.cta-secondary a {
  text-decoration: underline;
}

.clearfix {
  clear: both;
}

.cds--label {
  font-weight: bold !important;
  font-size: 1rem;
}

.cds--text-input,
.cds--select-input {
  border: 1px solid var(--rijkshuisstijl-donkergrijs);
  border-radius: 5px !important;
}

.filter-holder {
  padding: 2rem 0 3rem 0;

  div {
    float: left;
    margin-right: 1rem;
  }
}

select,
.cds--search-input {
  background-color: var(--rijkshuisstijl-wit) !important;
}

.cds--form-item {
  margin-bottom: 1rem;
}

.custom-footer {
  background-color: var(--rijkshuisstijl-lintblauw);
  color: var(--rijkshuisstijl-wit);
  font-size: .85rem !important;
  .cds--css-grid {
    max-width: 1080px;
    padding: 3rem 0;
  }
  .footer-logo {
    height: 100px;
    float: left;
    padding: 1rem;
  }
  .footer-logo-title {
    padding: 2rem 0;
  }
  .cds--css-grid-column {
    padding: 1.5rem 0;
  }
  p {
    font-size: .85rem !important;
  }
  a {
    color: var(--rijkshuisstijl-wit);
    display: block;
    text-decoration: underline;
    line-height: 2rem;
  }
}

.text-center {
  text-align: center;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  .modal-body {
    max-width: 1080px;
    height: 50vh;
    background-color: var(--rijkshuisstijl-wit);
    border-radius: 30px 30px 0 0;
    padding: 3rem;
    margin: 50vh auto 0 auto;
    .modal-content {
      overflow: auto;
      height: 100%;
      padding: 0 0 1rem 0;
    }
  }
}

.click-able {
  cursor: pointer;
}

.form-start-plan {
  .cds--label {
    margin-bottom: 0 !important;
  }
  p.label-description {
    margin-top: 0 !important;
    margin-bottom: .5rem !important;
    color: var(--rijkshuisstijl-grijs-5);
  }
  .cds--date-picker__input,
  textarea {
    border: 1px solid var(--rijkshuisstijl-donkergrijs);
    border-radius: 5px !important;
    background-color: var(--rijkshuisstijl-wit);
  }
}

.item-to-select {
  width: 320px;
  float: left;
  padding: 1rem;
  border: 1px solid var(--rijkshuisstijl-grijs-5) !important;
}
.item-to-select.selected {
  margin: 0 .75rem;
  padding: 1rem;
  border-color: var(--rijkshuisstijl-groen) !important;
  border-left: 5px solid var(--rijkshuisstijl-groen) !important;
}

.icon-selected {
  color: var(--rijkshuisstijl-groen);
}

.icon-muted {
  color: var(--rijkshuisstijl-grijs-5);
}

ul {
  margin-bottom: 1rem;
  li {
    list-style-type: disc;
    list-style: inside;
    font-size: .9rem;
  }
}
